.contactContainer {
  padding-top: 40px;
  max-width: 1200px;
  margin: 0 auto;
  color: #212121;
}

.contactHeading {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.5rem;
  color: #212121;
  margin-top: 2rem;
}

.contactContent {
  display: flex;
  justify-content: center;
}

.contactInfo {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
}

.contactItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  border: 2px solid rgba(255, 255, 255, 0.05);
  opacity: 0;
}

.contactItem:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.contactIcon {
  font-size: 24px;
  color: #212121;
  margin-right: 15px;
  width: 50px;
  height: 50px;
  min-width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.contactDetail {
  flex: 1;
}

.contactDetail h3 {
  margin: 0 0 8px 0;
  font-size: 1.2rem;
  color: #212121;
}

.contactDetail p,
.contactDetail a {
  margin: 0;
  color: #212121;
  text-decoration: none;
}

.contactDetail a:hover {
  text-decoration: underline;
}

/* For responsive design */
@media (max-width: 768px) {
  .contactInfo {
    padding: 0 20px;
  }
}
@media (max-width: 450px) {
  .contactItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
  }
  .contactDetail{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}